<h2>Step 1</h2>

<ng-form name="step1">

    <div class="form-group">
        <div class="form-field">
            <label for="firstName">First Name:</label>
            <div>
                <input type="text" id="firstName" ng-model="step1.firstName" required />
            </div>
        </div>
        <div class="form-field">
            <label for="lastName">Last Name:</label>
            <div>
                <input type="text" id="lastName" ng-model="step1.lastName" required />
            </div>
        </div>
    </div>
    <div class="wizard-buttons">
        <button type="button" rad-next>Next</button>
    </div>

</ng-form>
