.form-group {

    width: 100%;

    & .form-field {

        display: flex;
        align-items: center;
        margin-bottom: 10px;

        & > * {

            display: inline-block;

            &:first-child {
                width: 15%;
            }

            &:last-child {
                flex-grow: 1;
                & input {
                    min-width: 200px;
                    padding: 2px 5px;
                    border: 1px solid #ababab;
                    border-radius: 4px;
                    font-family: inherit;
                    font-size: inherit;
                }
            }

        }

    }

}