<h1>Wizard1</h1>

<rad-wizard>

    <rad-wizard-step name="step1" order="1">
        step1
        <div>
            <button type="button" rad-previous>Previous</button>
            <button type="button" rad-next>Next</button>
        </div>
    </rad-wizard-step>
    <rad-wizard-step name="step2" order="2">
        step2
        <div>
            <button type="button" rad-previous>Previous</button>
            <button type="button" rad-next>Next</button>
        </div>      
    </rad-wizard-step>

</rad-wizard>

<h1>Wizard2</h1>
<rad-wizard>
        
    <rad-wizard-step name="step1" order="1">step1</rad-wizard-step>
    <rad-wizard-step name="step2" order="2">step2</rad-wizard-step>

</rad-wizard>
