<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <base href="/">
    </head>
    <body ng-app="app">

        <noscript>
            You must have JavaScript enabled to use this app.
        </noscript>

        <app-root></app-root>

    </body>
</html>