rad-wizard {

    $active: #337ab7;

    display: block;
    width: 100%;

    & .wizard-step-headers {
        display: block;
        width: 100%;
        text-align: center;

        & li {
            display: inline-block;
            min-width: 150px;
            background-color: #eeeeee;
            color: #333333;

            &.active {
                background-color: $active;
                color: #ffffff;
            }

            &:not(:first-child) {
                margin-left: 2px;
            }

            & > a {
                display: block;
                padding: 10px 0;
                cursor: pointer;
                &, &:visited, &:hover {
                    text-decoration: none;
                    color: inherit;
                }
            }

        }

    }

    & .wizard-content {
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        padding: 10px;

        & .wizard-buttons {
            text-align: right;

            & button {
                padding: 10px;
                background-color: #ffffff;
                color: #333333;
                border: 1px solid #cccccc;
                border-radius: 4px;
                cursor: pointer;
                &:hover:not(:disabled) {
                    background-color: #e6e6e6;
                    color: #333333;
                    border-color: #adadad;
                }
                &:disabled {
                    color: #cccccc;
                }
            }

        }

    }

}
